[Desktop Entry]
Name=FileZilla 3 Import plugin
Name[be]=Утулка імпарту FileZilla 3
Name[bg]=Приставка за импортиране на FileZilla 3
Name[cs]=gFileZilla 3 importní modul
Name[da]=Import-plugin til FileZilla 3
Name[de]=FileZilla-3-Importmodul
Name[el]=Πρόσθετο εισαγωγής FileZilla 3
Name[en_GB]=FileZilla 3 Import plugin
Name[es]=Complemento de importación de FileZilla 3
Name[et]=FileZilla 3 impordiplugin
Name[fi]=FileZilla 3-tuontiliitännäinen
Name[fr]=Module externe d'importation FileZilla 3
Name[ga]=Breiseán Iompórtála FileZilla 3
Name[gl]=Extensión para importar desde FileZilla 3
Name[hne]=फाइल जिल्ला ३ आयात प्लगइन
Name[is]=FileZilla 3 Innflutningsíforrit
Name[it]=Estensione di importazione FileZilla 3
Name[ja]=FileZilla 3 インポートプラグイン
Name[km]=កម្មវិធី​ជំនួយ​នាំចូល FileZilla 3
Name[lt]=FileZilla 3 importavimo įskiepis
Name[lv]=FileZilla 3 importēšanas spraudnis
Name[nb]=Programtillegg for FileZilla 3 import
Name[nds]=Importmoduul för FileZilla 3
Name[nl]=FileZilla 3-importplugin
Name[pa]=FileZilla 3 ਇੰਪੋਰਟ ਪਲੱਗਇਨ
Name[pl]=Wtyczka do importu z FileZilla 3
Name[pt]='Plugin' de Importação do FileZilla 3
Name[pt_BR]=Plug-in de importação do FileZilla 3
Name[ro]=Modul de import FileZilla 3
Name[ru]=Модуль импорта из FileZilla 3
Name[sv]=FileZilla 3-importinsticksprogram
Name[th]=ปลั๊กอินนำเข้าของ FileZilla 3
Name[tr]=Filezilla 3 İçeriye Aktarma Eklentisi
Name[uk]=Додаток для імпорту з FileZilla 3
Name[x-test]=xxFileZilla 3 Import pluginxx
Name[zh_CN]=FileZilla 3 导入插件
Name[zh_TW]=FileZilla 3 匯入外掛程式
Comment=FileZilla 3 bookmarks import plugin
Comment[bg]=Приставка за импортиране на FileZilla 3 отметки в KFTPGrabber
Comment[cs]=FileZilla 3 modul importu záložek pro KFTPGrabber
Comment[da]=Import-plugin til bogmærker fra FileZilla 3
Comment[de]=FileZilla-3-Lesezeichenimportmodul
Comment[el]=Πρόσθετο εισαγωγής σελιδοδεικτών FileZilla 3
Comment[en_GB]=FileZilla 3 bookmarks import plugin
Comment[es]=Complemento de importación de marcadores de FileZilla 3
Comment[et]=FileZilla 3 järjehoidjate impordiplugin
Comment[fi]=FileZilla 3-kirjanmerkkien tuontiliitännäinen
Comment[fr]=Module externe d'importation de signets FileZilla 3
Comment[ga]=Breiseán iompórtála leabharmharcanna FileZilla 3
Comment[gl]=Unha extensión para importar os favoritos de FileZilla 3
Comment[hne]=फाइल जिल्ला ३ निसानी आयात प्लगइन
Comment[is]=FileZilla 3 íforrit fyrir innflutning bókamerkja
Comment[it]=Estensione di importazione dei segnalibri di FileZilla 3
Comment[ja]=FileZilla 3 ブックマークをインポートするプラグイン
Comment[km]=កម្មវិធីជំនួយ​នាំចូល​ចំណាំ​របស់ FileZilla 3
Comment[lt]=FileZilla 3 žymelių importavimo įskiepis
Comment[lv]=FileZilla 3 grāmatzīmju KFTPGrabber importēšanas spraudnis
Comment[nb]=Programtillegg for FileZilla 3 bokmerkeimport
Comment[nds]=Importmoduul för Leesteken vun FileZilla 3
Comment[nl]=FileZilla 3-bladwijzers importplugin
Comment[pa]=FileZilla 3 ਬੁੱਕਮਾਰਕ ਇੰਪੋਰਟ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do importu zakładek z FileZilla 3
Comment[pt]='Plugin' de importação de favoritos do FileZilla 3
Comment[pt_BR]=Plug-in de importação de favoritos do FileZilla 3
Comment[ro]=Modul de importat semne de carte din Filezilla 3
Comment[ru]=Модуль импорта закладок из FileZilla 3
Comment[sv]=Insticksprogram för FileZilla 3-bokmärkesimport
Comment[th]=ปลั๊กอินนำเข้าที่คั่นหนังสือของ FileZilla 3
Comment[tr]=Filezilla 3 sık kullanılanları içeriye aktarma eklentisi
Comment[uk]=Додаток для імпорту закладок з FileZilla 3
Comment[x-test]=xxFileZilla 3 bookmarks import pluginxx
Comment[zh_CN]=FileZilla 3 书签导入插件
Comment[zh_TW]=FileZilla 3 書籤匯入外掛程式
X-KDE-ServiceTypes=KFTPGrabber/BookmarkImportPlugin
Type=Service
X-KDE-Library=kftpimportplugin_filezilla3

