[Desktop Entry]
Name=gFTP Import plugin
Name[bg]=Приставка за импортиране на gFTP
Name[cs]=gFTP importní modul
Name[da]=Import-plugin til gFTP 
Name[de]=gFTP-Importmodul
Name[el]=Πρόσθετο εισαγωγής gFTP
Name[en_GB]=gFTP Import plugin
Name[es]=Complemento de importación de gFTP
Name[et]=gFTP impordiplugin
Name[fi]=gFTP-tuontiliitännäinen
Name[fr]=Module externe d'importation gFTP
Name[ga]=Breiseán Iompórtála gFTP
Name[gl]=Extensión para importar desde gFTP
Name[hne]=जीएफटीपी ३ आयात प्लगइन
Name[is]=gFTP Innflutningsíforrit
Name[it]=Estensione di importazione gFTP
Name[ja]=gFTP インポートプラグイン
Name[km]=កម្មវិធី​នាំចូល​ gFTP
Name[lt]=gFTP importavimo įskiepis
Name[lv]=gFTP importēšanas spraudnis
Name[nb]=Programtillegg for gFTP-import
Name[nds]=Importmoduul för gFTP
Name[nl]=gFTP-importplugin
Name[pa]=gFTP ਇੰਪੋਰਟ ਪਲੱਗਇਨ
Name[pl]=Wtyczka do importu z gFTP
Name[pt]='Plugin' de importação do gFTP
Name[pt_BR]=Plug-in de importação do gFTP
Name[ro]=Modul de import gFTP
Name[ru]=Модуль импорта из gFTP
Name[sv]=gFTP-importinsticksprogram
Name[th]=ปลั๊กอินนำเข้าของ gFTP
Name[tr]=gFTP uygulamasından içeriye aktarma eklentisi
Name[uk]=Додаток імпорту з gFTP
Name[x-test]=xxgFTP Import pluginxx
Name[zh_CN]=gFTP 导入插件
Name[zh_TW]=gFTP 匯入外掛程式
Comment=gFTP bookmarks import plugin for KFTPGrabber
Comment[bg]=Приставка за импортиране на gFTP отметки в KFTPGrabber
Comment[cs]=gFTP modul importu záložek pro KFTPGrabber
Comment[da]=Import-plugin til KFTPGrabber til bogmærker fra gFTP
Comment[de]=gFTP-Lesezeichenimportmodul
Comment[el]=Πρόσθετο εισαγωγής σελιδοδεικτών του gFTP για το KFTPGrabber
Comment[en_GB]=gFTP bookmarks import plugin for KFTPGrabber
Comment[es]=Complemento de importación de marcadores de gFTP para KFTPGrabber
Comment[et]=KFTPGrabberi gFTP järjehoidjate impordiplugin
Comment[fi]=gFTP-kirjanmerkkien tuontiliitännäinen KFTPGrabber-ohjelmalle
Comment[fr]=Module externe d'importation de signets gFTP pour KFTPGrabber
Comment[ga]=Breiseán iompórtála leabharmharcanna gFTP le haghaidh KFTPGrabber
Comment[gl]=Unha extensión para importar os favoritos de gFTP en KFTPGrabber
Comment[is]=Íforrit fyrir innflutning gFTP bókamerkja í KFTPGrabber
Comment[it]=Estensione di importazione dei segnalibri di gFTP per KFTPGrabber
Comment[ja]=gFTP のブックマークをインポートする KFTPGrabber プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​នាំចូល​ចំណាំ​របស់ gFTP សម្រាប់ KFTPGrabber
Comment[lt]=gFTP žymelių importavimo į KFTPGrabber įskiepis
Comment[lv]=gFTP grāmatzīmju KFTPGrabber importēšanas spraudnis
Comment[nb]=Programtillegg for KFTPGrabber for FTP bokmerke-import
Comment[nds]=En KFTPGrabber-Moduul för't Importeren vun gFTP-Leesteken
Comment[nl]=KFTPGrabber-plugin voor het importeren van gFTP-bladwijzers
Comment[pl]=Wtyczka do importowania zakładek z gFTP
Comment[pt]='Plugin' de importação de favoritos do gFTP para o KFTPGrabber
Comment[pt_BR]=Plug-in de importação de favoritos do gFTP para o KFTPGrabber
Comment[ro]=Modul de importat semne de carte gFTP pentru KFTPGrabber
Comment[ru]=Модуль импорта закладок из gFTP для KFTPGrabber
Comment[sv]=Insticksprogram för gFTP-bokmärkesimport till KFTPgrabber
Comment[th]=ปลั๊กอินนำเข้าที่คั่นหนังสือของ GFTP
Comment[tr]=KFTPGrabber için gFTP sık kullanılanlarını içeriye aktarma eklentisi
Comment[uk]=Додаток до KFTPGrabber для імпорту закладок з gFTP
Comment[x-test]=xxgFTP bookmarks import plugin for KFTPGrabberxx
Comment[zh_CN]=KFTPGrabber 的 gFTP 书签导入插件
Comment[zh_TW]=KFTPGrabber 的 gFTP 書籤匯入外掛程式
X-KDE-ServiceTypes=KFTPGrabber/BookmarkImportPlugin
Type=Service
X-KDE-Library=kftpimportplugin_gftp

