[Desktop Entry]
Name=NcFTP Import plugin
Name[bg]=Приставка за импортиране на NcFTP
Name[cs]=NcFTP importní modul
Name[da]=Import-plugin til NcFTP
Name[de]=NcFTP-Importmodul
Name[el]=Πρόσθετο εισαγωγής NcFTP
Name[en_GB]=NcFTP Import plugin
Name[es]=Complemento de importación de NcFTP
Name[et]=NcFTP impordiplugi
Name[fi]=NcFTP-tuontiliitännäinen
Name[fr]=Module externe d'importation NcFTP
Name[ga]=Breiseán Iompórtála NcFTP
Name[gl]=Extensión de importación de NcFTP
Name[hne]=एनसीएफटीपी ३ आयात प्लगइन
Name[is]=NcFTP Innflutningsíforrit
Name[it]=Estensione di importazione NcFTP
Name[ja]=NcFTP インポートプラグイン
Name[km]=កម្មវិធី​ជំនួយ​នាំចូល​ NcFTP
Name[lt]=NcFTP importavimo įskiepis
Name[lv]=NcFTP importēšanas spraudnis
Name[ms]=Plugin Import NcFTP
Name[nb]=Programtillegg for NcFTP-import
Name[nds]=Importmoduul för NcFTP
Name[nl]=NcFTP-importplugin
Name[pa]=NcFTP ਇੰਪੋਰਟ ਪਲੱਗਇਨ
Name[pt]='Plugin' de importação do NcFTP
Name[pt_BR]=Plug-in de importação do NcFTP
Name[ro]=Modul de import  NcFTP
Name[ru]=Модуль импорта из NcFTP
Name[sv]=NcFTP-importinsticksprogram
Name[th]=ปลั๊กอินนำเข้าของ NcFTP
Name[tr]=NcFTP uygulamasından içeriye aktarma eklentisi
Name[uk]=Додаток імпорту NcFTP
Name[x-test]=xxNcFTP Import pluginxx
Name[zh_CN]=NcFTP 导入插件
Name[zh_TW]=NcFTP 匯入外掛程式
Comment=NcFTP bookmarks import plugin for KFTPGrabber
Comment[bg]=Приставка за импортиране на NcFTP отметки в KFTPGrabber
Comment[cs]=NcFTP modul importu záložek pro KFTPGrabber
Comment[da]=Import-plugin til KFTPGrabber til bogmærker fra NcFTP
Comment[de]=NcFTP-Lesezeichenimportmodul
Comment[el]=Πρόσθετο εισαγωγής σελιδοδεικτών NcFTP για το KFTPGrabber
Comment[en_GB]=NcFTP bookmarks import plugin for KFTPGrabber
Comment[es]=Complemento de importación de marcadores de NcFTP de KFTPGrabber
Comment[et]=KFTPGrabberi NcFTP järjehoidjate impordiplugin
Comment[fi]=NcFTP-kirjanmerkkien tuontiliitännäinen KFTPGrabber-ohjelmalle
Comment[fr]=Module externe d'importation de signets NcFTP pour KFTPGrabber
Comment[ga]=Breiseán iompórtála leabharmharcanna NcFTP le haghaidh KFTPGrabber
Comment[gl]=Unha extensión de importación dos favoritos de NcFTP para KFTPGrabber
Comment[is]=Íforrit fyrir innflutning NcFTP bókamerkja í KFTPGrabber
Comment[it]=Estensione di importazione dei segnalibri di NcFTP per KFTPGrabber
Comment[ja]=NcFTP ブックマークをインポートする KFTPGrabber プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​នាំចូល​ចំណាំ​របស់ NcFTP សម្រាប់ KFTPGrabber
Comment[lt]=NcFTP žymelių importavimo į KFTPGrabber įskiepis
Comment[lv]=NcFTP grāmatzīmju KFTPGrabber importēšanas spraudnis
Comment[ms]=Plugin import tandabuku NcFTP untuk KFTPGrabber
Comment[nb]=KFTPGrabber programtillegg for NcFTP bookmerlkeimport
Comment[nds]=En KFTPGrabber-Moduul för't Importeren vun NcFTP-Leesteken
Comment[nl]=Een KFTPGrabber-plugin voor het importeren van NcFTP-bladwijzers
Comment[pt]='Plugin' de importação de favoritos do NcFTP para o KFTPGrabber
Comment[pt_BR]=Plug-in de importação de favoritos do NcFTP para o KFTPGrabber
Comment[ro]=Modul de importat semne de carte NcFTP pentru KFTPGrabber
Comment[ru]=Модуль импорта закладок из NcFTP для KFTPGrabber
Comment[sv]=Insticksprogram för NcFTP-bokmärkesimport till KFTPgrabber
Comment[th]=ปลั๊กอินนำเข้าที่คั่นหนังสือของ NcFTP
Comment[tr]=KFTPGrabber için NcFTP uygulamasının sık kullanılanlarını içeriye aktarma eklentisi
Comment[uk]=Додаток до KFTPGrabber для імпорту закладок з NcFTP
Comment[x-test]=xxNcFTP bookmarks import plugin for KFTPGrabberxx
Comment[zh_CN]=KFTPGrabber 的 NcFTP 书签导入插件
Comment[zh_TW]=KFTPGrabber NcFTP 書籤匯入外掛程式
X-KDE-ServiceTypes=KFTPGrabber/BookmarkImportPlugin
Type=Service
X-KDE-Library=kftpimportplugin_ncftp

