[Desktop Entry]
Name=KFTPGrabber XML Import plugin
Name[bg]=Приставка за импортиране на XML в KFTPGrabber
Name[cs]=KFTPGrabber XML importní modul
Name[da]=Import-plugin til KFTPGrabber til XML
Name[de]=KFTPGrabber-XML-Importmodul
Name[el]=Πρόσθετο εισαγωγής XML του KFTPGrabber
Name[en_GB]=KFTPGrabber XML Import plugin
Name[es]=Complemento de importación de XML de KFTPGrabber
Name[et]=KFTPGrabberi XML-i impordiplugin
Name[fi]=KFTPGrabber XML-tuontiliitännäinen
Name[fr]=Module externe d'importation XML KFTPGrabber
Name[ga]=Breiseán Iompórtála XML KFTPGrabber
Name[gl]=Extensión para importar XML de KFTPGrabber
Name[is]=KFTPGrabber XML Innflutningsíforrit
Name[it]=Estensione di importazione XML per KFTPGrabber
Name[ja]=KFTPGrabber XML インポートプラグイン
Name[km]=កម្មវិធី​ជំនួយ​នាំចូល​ XML របស់ KFTPGrabber
Name[lt]=KFTPGrabber XML importavimo įskiepis
Name[lv]=KFTPGrabber XML importēšanas spraudnis
Name[nb]=KFTPGrabber programtillegg for XML-import
Name[nds]=KFTPGrabber XML-Importmoduul
Name[nl]=KFTPGrabber XML Importplugin
Name[pa]=KFTPGrabber XML ਇੰਪੋਰਟ ਪਲੱਗਇਨ
Name[pt]='Plugin' de importação XML do KFTPGrabber
Name[pt_BR]=Plug-in de importação XML do KFTPGrabber
Name[ro]=Modul de import XML KFTPGrabber
Name[ru]=Модуль KFTPGrabber для импорта из XML
Name[sv]=Insticksprogram för XML-import till KFTPgrabber
Name[th]=ปลั๊กอินนำเข้าของ KFTPGrabber แบบ XML
Name[tr]=KFTPGrabber XML dosyalarını içeriye aktarma eklentisi
Name[uk]=Додаток імпорту XML для KFTPGrabber
Name[x-test]=xxKFTPGrabber XML Import pluginxx
Name[zh_CN]=KFTPGrabber 的 XML 导入插件
Name[zh_TW]=KFTPGrabber XML 匯入外掛程式
Comment=KFTPGrabber XML bookmarks import plugin
Comment[bg]=Приставка за импортиране на XML отметки в KFTPGrabber
Comment[cs]=XML modul importu záložek pro KFTPGrabber
Comment[da]=Import-plugin til KFTPGrabber til XML-bogmærker
Comment[de]=KFTPGrabber-XML-Lesezeichenimportmodul
Comment[el]=Πρόσθετο εισαγωγής σελιδοδεικτών XML του KFTPGrabber
Comment[en_GB]=KFTPGrabber XML bookmarks import plugin
Comment[es]=Complemento de importación de marcadores en XML de KFTPGrabber
Comment[et]=KFTPGrabberi XML-järjehoidjate impordiplugin
Comment[fi]=KFTPGrabber XML-kirjanmerkkien tuontiliitännäinen
Comment[fr]=Module externe d'importation de signets XML KFTPGrabber
Comment[ga]=Breiseán iompórtála leabharmharcanna XML le haghaidh KFTPGrabber
Comment[gl]=Unha extensión para importar os favoritos desde o XML de KFTPGrabber
Comment[is]=Íforrit fyrir innflutning XML bókamerkja í KFTPGrabber
Comment[it]=Estensione di importazione dei segnalibri XML per KFTPGrabber
Comment[ja]=XML ブックマークをインポートする KFTPGrabber プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​នាំចូល​ចំណាំ​ XML របស់ KFTPGrabber
Comment[lt]=KFTPGrabber XML žymelių importavimo įskiepis
Comment[lv]=KFTPGrabber XML grāmatzīmju KFTPGrabber importēšanas spraudnis
Comment[ms]=Plugin import tandabuku XML KFTPGrabber
Comment[nb]=KFTPGrabber programtillegg for XML bokmerkeimport
Comment[nds]=En KFTPGrabber-Moduul för't Importeren vun XML-Leesteken
Comment[nl]=KFTPGrabber-plugin voor het importeren van XML-bladwijzers
Comment[pa]=KFTPGrabber XML ਬੁੱਕਮਾਰਕ ਇੰਪੋਰਟ ਪਲੱਗਇਨ
Comment[pt]='Plugin' de importação de favoritos em XML para o KFTPGrabber
Comment[pt_BR]=Plug-in de importação de favoritos em XML para o KFTPGrabber
Comment[ro]=Modul de importat semne de carte XML KFTPGrabber
Comment[ru]=Модуль KFTPGrabber для импорта закладок из XML
Comment[sv]=Insticksprogram för XML-bokmärkesimport till KFTPgrabber
Comment[th]=ปลั๊กอินนำเข้าที่คั่นหนังสือของ KFTPGrabber แบบ XML
Comment[tr]=KFTPGrabber için XML sık kullanılanları içeriye aktarma eklentisi
Comment[uk]=Додаток до KFTPGrabber для імпорту XML-закладок
Comment[x-test]=xxKFTPGrabber XML bookmarks import pluginxx
Comment[zh_CN]=KFTPGrabber 的 XML 书签导入插件
Comment[zh_TW]=KFTPGrabber XML 書籤匯入外掛程式
X-KDE-ServiceTypes=KFTPGrabber/BookmarkImportPlugin
Type=Service
X-KDE-Library=kftpimportplugin_kftp

