#!/usr/bin/make -f
 
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/cmake.mk

DEB_BUILDDIR = .
DEB_INSTALL_MANPAGES_kftpgrabber := kftpgrabber.1

build/kftpgrabber::
	/usr/bin/docbook2x-man debian/kftpgrabber.xml

install/kftpgrabber::
	install -D -p -m644 debian/kftpgrabber.lintian-overrides \
	  debian/kftpgrabber/usr/share/lintian/overrides/kftpgrabber

clean::
	rm -f kftpgrabber.1
	find . -depth -name "*moc*" -exec rm -rf {} \;
	find . -depth -name cmake_install.cmake -exec rm -f {} \;
	find . -depth -name CTestTestfile.cmake -exec rm -f {} \;
	find . -depth -name CMakeFiles -exec rm -f {} \;
	find . -depth -name Makefile -exec rm -f {} \;

