[Desktop Entry]
Type=Service
X-KDE-ServiceType=KFTPGrabber/BookmarkImportPlugin
Comment=A KFTPGrabber plugin for importing bookmarks
Comment[bg]=Приставка за импортиране на отметки в KFTPGrabber
Comment[cs]=Modul KFTPGrabbera pro import záložek
Comment[da]=Et KFTGrabber-plugin til import af bogmærker
Comment[de]=KFTPGrabber-Lesezeichenimportmodul
Comment[el]=Ένα πρόσθετο του  KFTPGrabber για την εισαγωγή σελιδοδεικτών
Comment[en_GB]=A KFTPGrabber plugin for importing bookmarks
Comment[es]=Un complemento de KFTPGrabber para importar marcadores
Comment[et]=KFTPGrabberi järjehoidjate impordiplugin
Comment[fi]=KFTPGrabber-liitännäinen kirjanmerkkien tuontiin
Comment[fr]=Un module externe KFTPGrabber pour l'importation de signets
Comment[ga]=Breiseán KFTPGrabber le haghaidh iompórtála leabharmharcanna
Comment[gl]=Unha extensión de FTPGrabber para importar favoritos
Comment[is]=KFTPGrabber íforrit fyrir innflutning bókamerkja
Comment[it]=Un'estensione per importare i segnalibri per KFTPGrabber
Comment[ja]=ブックマークをインポートする KFTPGrabber プラグイン
Comment[km]=កម្មវិធី​ជំនួយ KFTPGrabber ដើម្បី​នាំចូល​ចំណាំ
Comment[lt]=KFTPGrabber įskiepis žymelių importavimui
Comment[lv]=KFTPGrabber grāmatzīmju importēšanas spraudnis
Comment[nb]=Et programtillegg for KFTPGrabber, som importerer bopkmerker
Comment[nds]=En KFTP-Moduul för't Importeren vun Leesteken
Comment[nl]=een KFTPGrabber-plugin voor het importeren van bladwijzers
Comment[pl]=Wtyczka KFTPGrabbera do importowania zakładek
Comment[pt]=Um 'plugin' do KFTPGrabber para importar listas de favoritos
Comment[pt_BR]=Um plug-in do KFTPGrabber para importação de favoritos
Comment[ro]=Un modul KFTPGrabber pentru importul semnelor de carte
Comment[ru]=Модуль KFTPGrabber для импорта закладок
Comment[sv]=Ett insticksprogram för bokmärkesimport till KFTPgrabber
Comment[th]=ปลั๊กอินสำหรับนำเข้าที่คั่นหนังสือของ KFTPGrabber
Comment[tr]=Sık kullanılanları içeriye aktarmak için KFTPGrabber eklentisi
Comment[uk]=Додаток до KFTPGrabber для імпорту закладок
Comment[x-test]=xxA KFTPGrabber plugin for importing bookmarksxx
Comment[zh_CN]=一个用于导入书签的 KFTPGrabber 插件
Comment[zh_TW]=用於匯入書籤的 KFTPGrabber 外掛程式
